.window {
    position: absolute;
    z-index: 9;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid rgba(192,192,192,1);
    text-align: center;
    width:640px;
}

.title-bar {
    width: 100%;
    height: 40px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    cursor: move;
    display: flex;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
    border-bottom:1px solid rgb(192,192,192);
}

.content {
    padding: 10px;
}

.close-button {
    margin:0px 0px 0px auto;
    padding:0px 20px;
    border:none;
    border-left:1px solid rgb(192,192,192);
    min-height:39px;
    font-size:2em;
    box-sizing: border-box;
    cursor: pointer;
    background-color:rgba(0,0,0,0.5);
    color: #fff;
}

.close-button:hover {
    background-color: firebrick;
}

.resizer {
    width: 16px;
    height: 16px;
    background: rgb(24,24,24);
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: se-resize;
    box-sizing: content-box;
}

.selected {
    background-color:rgb(64,64,64);
    border-bottom:3px solid rgb(240,240,240);
}